@model List<Oxygen_Atom.Entities.Stock>
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Stocks</li>
    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Stock Details
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>Stock</th>


                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                        <tr>
                            <td>@(Model.IndexOf(item) + 1)</td>
                            <td>@item.ProductId</td>
                            <td>@item.Product.Name</td>
                            <td>@item.Quantity</td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>